@import '../../constants/variables.css';

.buttonOutline {
  display: flex;
  column-gap: 10px;
  align-items: center;
  height: 48px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  scale: 1;
  transition:
    opacity 0.2s ease-in,
    scale 0.2s ease-in-out;
}

.buttonOutline:hover {
  opacity: 0.8;
}

.buttonOutline:active {
  position: relative;
  scale: 0.95;
}
